<h1>Authors</h1>
<a href="/authors/create">Create an Author</a>


{{#each authors}}
<div>
  <hr>
  <h3>{{fullName}}</h3>
  <a href="/authors/details/{{_id}}">See Details</a>
  <a href="/authors/edit/{{_id}}">Edit</a>

</div>
{{/each}}