<h2>Create an Author</h2>

  <form action="/authors/create" method="post">
  <label for="full-name-input">First Name
  <input type="text" name="fullName" id='first-name-input' />
  </label>

  <label for="date-of-birth">Date Of Birth
  <input type="date" name='dateOfBirth' id="date-of-birth" />
  </label>

  <label for="nacionality">Nacionality
  <input type="text" name='nacionality' id="nacionality" />
  </label>

  <label for="award-winner">Award Winner?
  <input type="radio" name='awardWinner' id="award-winner" value='true' />
  </label>
  
  <label for="author-image">Author Image
    <input type="text" name='image' id='author-image'>
  </label>



  <button type='submit'>Create</button>
</form>